<nav>
  <div class="logo"><a href="/index">Eatwell</a></div>
  <div class="burger-menu">
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <ul class="nav-menu">
    <li><a href="/resturants">Browse Resturants</a></li>
    <li><a href="/share-resturant">Share a Resturant</a></li>
    <li><a href="/about">About Eatwell</a></li>
  </ul>
  <ul class="dropdown-menu">
    <li><a href="/resturants">Browse Resturants</a></li>
    <li><a href="/share-resturant">Share a Resturant</a></li>
    <li><a href="/about">About Eatwell</a></li>
  </ul>
</nav>