<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
    <link rel="stylesheet" href="styles/about.css" />
  </head>
  <body>
    <%- include("includes/nav") %>
    <main>
      <h1>Success!</h1>
      <p>
        Your Resturant was successfully added to our list!
      </p>
      
    </main>
  </body>
</html>